package main

import "fmt"

func assert(condition bool, message string) {
	if !condition {
		panic(message)
	}
}

func search(nums []int, target int) int {
	left, right := 0, len(nums)-1
	for left <= right {
		middle := left + (right-left)/2
		if nums[middle] == target {
			return middle
		}
		if nums[middle] < target {
			left = middle + 1
		} else {
			right = middle - 1
		}
	}
	return -1
}

func runTests() {
{{TEST_VECTORS}}
	fmt.Println("All shared test vectors passed")
}

func main() { runTests() }
